<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXCxdb-KreUjg6gQHFvcnrM-YQl_CEpUY</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FirstProject</string>
	<key>GCM_SENDER_ID</key>
	<string>180220835869</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:180220835869:ios:07f7e29e9e6f8f0ca2aef4</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirebase-4531b</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirebase-4531b.appspot.com</string>
</dict>
</plist>
